mixin navItem(link, text, active)
        li
        a(href=`${link}`) #{text}

nav.navbar.bg-dark
    h1
        a(href='/')
            | Adlet
    if user
        ul
            li
            a(href='/me')
                span= user.name.split(' ')[0]
            +navItem('/my-settings', 'Settings')
            +navItem('#', 'Billing')
            +navItem('/advertise', 'Advertise')
            li
            a.nav__el--logout Log out

    else
        ul
            li
            a(href='/signup') Sign up
            li
            a(href='/login') Login

                //- nav.navbar
    //-     ul
    //-         +navItem('#', 'Settings', 'settings', true)
    //-         +navItem('#', 'My bookings', 'briefcase')
    //-         +navItem('#', 'My reviews', 'star')
    //-         +navItem('#', 'Billing', 'credit-card')

    //-     - if (user.role === 'admin')
    //-         .navbar
    //-             h5 Admin
    //-             ul
    //-                 +navItem('#', 'Manage tours', 'map')
    //-                 +navItem('#', 'Manage users', 'users')
    //-                 +navItem('#', 'Manage reviews', 'star')
    //-                 +navItem('#', 'Manage bookings', 'briefcase')
