extends base

block content
    section.container
        h1.lead Register New Advertisement
        form.form.form--ads
            .form-group
            input#title(type='text' placeholder='Title' name='title' required='')
            .form-group
            small.form-text
                | MimeType
            select#mimeType(type='text' placeholder='Operating Hours' name='mimeType' required='')
                option(value='image') Image
                option(value='video') Video
            .form-group
            small.form-text
                | Category
            select#category(type='text' placeholder='Operating Days' name='category' required='')
                option(value='product') Product
                option(value='service') Service
                option(value='event') Event
                option(value='emergency') Emergency
                option(value='awareness') Awareness
            .form-group
            small.form-text
                | Run campaign from:
            input#dateStart(type='date' placeholder='Date' name='dateStart' required='')
            .form-group
            small.form-text
                | Run campaign to:
            input#dateEnd(type='date' placeholder='Date' name='dateEnd' required='')
            .form-group
            small.from-text
                | Select Kiosk 
            br
            each kiosk in kiosks
                input#kiosk(type='checkbox' name='kiosk' value=kiosk.id)
                label
                    small.from-text(for=kiosk.id)= " " + kiosk.location.address
                br
            .form-group
            small.form-text
                | Operating Hours
            select#displayHours(type='text' placeholder='Operating Hours' name='displayHours' required='')
                option(value='9to5') 9 - 5
                option(value='9to8') 9 - 8
                option(value='24h') 24h
            .form-group
            small.form-text
                | Operating Days
            select#displayDays(type='text' placeholder='Operating Days' name='displayDays' required='')
                option(value='mon-fri') Mon-Fri
                option(value='mon-sat') Mon-Sat
                option(value='full-week') Full Week
            .form-group
            input#advertiser(hidden='' type='label' name='advertiser' visibility:'hidden' value=user.id)
            .form-group                
            input.btn.btn-primary(type='submit' value='Buy Ad')