extends base

block content
    section.landing    
        section.container
            h1.large.text-primary Forgot password
            p.lead
                i.fas.fa-user
                |  Get reset token on your email
            form.form.form--get-reset-link
                .form-group
                small.form-text
                | Enter you email
                input#email(type='email', placeholder='Email', name='email', required='')
                .form-group
                input.btn.btn-primary.btn--reset-password(type='submit' value='Submit')
                p.my-1
                    | Have an account? 
                    a(href='/login') Login
                p.my-1
                    | Don&apos;t have an account? 
                    a(href='/signup') Sign Up