extends base

block content
    section.container
        h1.large.text-primary Your Dashboard
        h2.my-2 Advertising campaigns running !
        form.form
            .form-group
            input.btn.btn-primary.el--getMyAds( type= 'button' value='Get my Ads')
            .form-group
            table.table
                thead#showHead
                tbody#showData
        .my-2
            a.btn.btn-dark.dash-buttons(href='#') ^ 
                  
