extends base

block content
    section.container
        h2.my-2 Advertising campaigns running !
        form.form.el--getMyAds
            .form-group
            input.btn.btn-primary.el--getMyKiosks( type= 'button' value='Get my Ads')
            .form-group
            table.table
                thead#showHead
                tbody#showData
        
        a.btn.btn-light.dash-buttons(href='#') Buy advertising space                    
