extends base

block content
    section.container
        h1.large.text-primary Your Dashboard
        h2.my-2 Get Advertising campaigns running on your Kiosks.
        form.form.el--getads
            .form-group
            small.form-text
                | Enter Kiosk Id
            input#kioskid(type='text', placeholder='Kiosk Id', name='kioskid')
            .form-group
            input.btn.btn-primary(type='submit' value='Get')
            .form-group
            h2.my-2 Active Advertising campaigns!    
            table.table
                thead#showHead
                tbody#showData
            h2.my-2 Get active Kiosks.   
        form.form.el--getMyKiosks
            .form-group
            input.btn.btn-primary.el--getMyKiosks( type= 'button' value='Get my Kiosks')
            .form-group
            h2.my-2 Active Kiosks!    
            table.table
                thead#showHeadK
                tbody#showDataK        
        .my-2
            a.btn.btn-dark.dash-buttons(href='#') ^
