extends base

block content
  section.landing
    .dark-overlay
      .landing-inner
        h1.x-large Adlet
        p.lead some promo sample text
        .buttons
          a.btn.btn-primary(href='/signup') Sign Up
          a.btn.btn-light(href='/login') Login

