extends base

block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

block content
  section.landing
    .dark-overlay
      .landing-inner
        h1.x-large Adlet
        p.lead some promo sample text
        .buttons
          a.btn.btn-primary(href='/signup') Sign Up
          a.btn.btn-light(href='/login') Login
  section.section-map
        each kiosk in kiosks
            #map.loc(data-locations=`${JSON.stringify(kiosk.location)}`)
