extends base

block content
    section.container
        p.lead Welcome #{user.name.split(' ')[0]}
        h1.large.text-primary Publisher Page
        form.form
                .form-group
                input#name(type='text' placeholder='Name' name='name' required='')
                .form-group
                input#name(type='text' placeholder='Latitude' name='latitude' required='')
                .form-group
                input#name(type='text' placeholder='Longitude' name='longitude' required='')
                .form-group
                small.form-text
                    | Operating Hours
                select#role(type='text' placeholder='Operating Hours' name='role' required='')
                    option(value='9to5') 9 - 5
                    option(value='9to8') 9 - 8
                    option(value='24h') 24h
                .form-group
                small.form-text
                    | Operating Days
                select#role(type='text' placeholder='Operating Days' name='role' required='')
                    option(value='mon-fri') Mon-Fri
                    option(value='mon-sat') Mon-Fri
                    option(value='full-week') Full Week  
                .form-group                
                input.btn.btn-primary(type='submit' value='Buy Kiosk')