extends base

block content
    section.landing    
        section.container
            h1.large.text-primary Reset password
            p.lead
                i.fas.fa-user
                |  Set new password
            form.form.form--reset-pass
                .form-group
                small.form-text
                | Enter toke ID
                input#token(type='text', placeholder='Token', name='token', required='')
                small.form-text
                | Check mail to find token ID
                .form-group
                small.form-text
                | New password
                input#password(type='password', placeholder='New password', required, minlength='8')
                .form-group
                small.form-text
                | Confirm password
                input#password-confirm(type='password', placeholder='Confirm password', required, minlength='8')
                .form-group
                input.btn.btn-primary.btn--reset-password(type='submit' value='Reset')
                p.my-1
                    | Don&apos;t have an account? 
                    a(href='/signup') Sign Up