extends base

block content
    section.container
        p.lead Upload Ad 
        form.form.form--uploadads
            .form-group
            input#content(type='file' name='content' required='' accept='video/*|image/*')
            .form-group   
            input#adsid(type='text' placeholder='Advertisement ID' name='adsid' required='')
            small.form-text
                | Check mail to find Advertisement ID
            .form-group
            input.btn.btn-primary(type='submit' value='Buy ad')